.window-header {
    -fx-background-color: #002aff;
    -fx-text-fill: white;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-alignment: center;
}

#sEmulatorLogo {
    -fx-background-color: linear-gradient(to bottom, #6a11cb, #4565b1, #ffffff);
    -fx-text-fill: white;
    -fx-font-size: 23px;
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-padding: 12px;
    -fx-background-radius: 0 0 10 10;
}